<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>
<div class='top_div'>
<span style="color:white">Trainers home page.</span>
</div>
<div class='pokeList'>
  <div class='pokeInfo'>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
          <th>ID</th>
          <th>Name</th>
      </thead>
      <% for (var i = 0; i < trainers.length; i++){ %>
      <tbody>
        <tr>
          <td><%=trainers[i].id%></td>
          <td class='nameLink'><a href='/trainers/<%=trainers[i].id%>/details'><%=trainers[i].name%></a></td>
        </tr>
      </tbody>
      <% } %>
    </table>
  </div>
</div>
